@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-popins: "Poppins", sans-serif;
}

/* 

  ===< color >===
  first-color:
    text-[#EFBB5E]
    bg-[#EFBB5E]

  first-color-alt:
    text-[#E5B35A]
    bg-[#E5B35A]

  container-color:
    text-[#F8F8F8]
    bg-[#F8F8F8]

  bg-color:
    text-[#FFFFFF]
    bg-[#FFFFFF]

  title-color:
    text-[#3A3A3A]
    bg-[#3A3A3A]

  text-color: 
    text-[#696969]
    bg-[#696969]

  blue-color: 
    text-[#2563EB]
    bg-[#2563EB]
  
   green-color: 
    text-[#16A34A]
    bg-[#16A34A]
  
   red-color: 
    text-[#DC2626]
    bg-[#DC2626]
  
  ===< font >===
  big-text: 
    text-[32px] 
    font-semi-bold

  title-text: 
    text[24px] 
    font-medium

  subtitle-text: 
    text[18px] 
    font-medium

  normal-text: 
    text[16px] 
    font-regular

  small-text: 
    text[14px] 
    font-regular

  ===< shadow >===
  shadow:
    shadow-[0_0_8px_0_rgba(0,0,0,0.09)]

  ===< radius >===
  radius: 
    rounded-lg

  ===< transition >===
  transition:
    transition  
    duration-300

  */
